.catalog {
  max-height: 1461px;
  overflow: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 305px);
  padding: 0;
  margin: 0 0 30px;

  gap: 36px 20px;
  list-style-type: none;
}
