.about {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 1440px;
  margin: 0 auto;
}

.about__content {
  display: flex;
    flex-direction: column;
  padding: 72px 100px 54px 84px;
  text-align: start;
}
.about__title {
  margin: 0 0 25px;
}

.about__description {
  padding: 0;
  margin: 0;
  line-height: 22px;

  &:not(:last-child) {
    margin-bottom: 23px;
  }
}

.about__image {
  padding: 0;
  margin: 0;
  max-height: 603px;
}

.about__button {
  margin-top: auto;
  width: fit-content;
}
