.main-footer {
  background-color: #2A254B;
}

.main-footer__wrapper {
  display: grid;
  grid-template-columns: 538px 1fr;
  max-width: 1276px;
  padding: 58px 82px 3px;
  margin: 0 auto;
  text-align: start;
  gap: 44px 110px;
}

.main-footer__title {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;

  margin: 0 0 16px;
}

.main-footer__feedback {
  display: block;
  height: fit-content;
}

.main-footer__under-wrapper {
  display: flex;
}

.main-footer__input {
  width: 446px;
}
