// fonts
$font-family: "Satoshi", "Arial", sans-serif;
$font-size-default: 16px;

// color
$color-dark-blue: #2A254B;
$color-for-blue: #505977;
$color-white: #ffffff;
$color-light-grey: #F9F9F9;
$color-grey: #EBE8F4;

$page-padding: 80px;
$page-width: 1440px;
